@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-white);
  color: #0f172a;
}

/* Hide scrollbars for scrollable columns */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
